{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-idiomatic-order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "media-feature-range-notation": null,
    "color-function-notation": "legacy",
    "alpha-value-notation": null
  }
}