.header {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: var(--header-height);
  align-items: center;
  border-bottom: var(--border1);
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: var(--max-width-md);
  padding: 0 var(--p-8);
  margin: 0 auto;
}