.sidebar {
  position: sticky;
  width: calc(100% - 250px);
  height: 100%;
  background: var(--black3);
  min-height: 1400px;
  margin-left: 1rem;
  padding: var(--p-4);
}

@media screen and (max-width: 720px) {
  .sidebar {
    display: none;
  }
}