.footer {
  overflow: hidden;
  width: 100%;
  height: var(--footer-height);
  border-top: var(--border1);
  margin: 0 auto;
}

.content {
  display: flex;
  width: 100%;
  max-width: var(--max-width-md);
  height: 100%;
  align-items: center;
  padding: 0 var(--p-8);
  margin: 0 auto;
}